[Unit]
Description=Pi Photo Album
After=multi-user.target

[Service]
Type=simple
User=pi
ExecStart=/usr/local/bin/pi-photo-album/startup.sh {python_path}
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target