/* Settings form styles */
.input-label {
    font-size: 1rem;
    font-weight: bold;
}

.input-container {
    display: flex;
    justify-content: left;
    gap: 4px;
    margin-bottom: 0.5rem;
}

/* Staging list styles */
#image-upload-input-hidden {
    display: none;
}

#image-staging-list {
    list-style-type: none;
    padding: 0;
}

#image-staging-list li {
    padding: 0.25rem;
}

#image-staging-list .staging-remove-btn {
    margin-right: 0.5rem;
    scale: 0.75;
    padding: 0.25rem 0.5rem;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

#image-staging-list .staging-album-selector {
    margin: 0 0.5rem;
}

#image-staging-list .set-album-for-all-btn {
    margin-left: 0.5rem;
    font-size: 0.75rem;
    display: block;
}

/* File system styles */
.album-name {
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.hide-album-btn,
.create-album-btn {
    margin-left: 0.5rem;
    font-size: 0.75rem;
}

#create-folder-dialog {
    display: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.file-system-tools {
    display: none;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    display: none;
}

.loading-spinner {
    border: 4px solid #dfdfdf;
    border-radius: 50%;
    border-top: 4px solid #6666db;
    border-bottom: 4px solid #6666db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
