/* main {
    width: 500px;
} */

.input-label {
    font-size: 1rem;
    font-weight: bold;
}

.input-container {
    display: flex;
    justify-content: left;
    gap: 4px;
    margin-bottom: 0.5rem;
}

