<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PI Photo Album</title>

        <link rel="stylesheet" href="/static/index.css" />

        <script>
            // These are coming from Flask.
            const savedSettings = {{ settings|tojson }};
            // {folderName: {...} | fileName: "", ...}
            const fileSystemSnapshot = {{ fileStructure|tojson }}; 
        </script> 
        <script type="text/javascript" src="/static/index.js"></script>
        <script type="text/javascript" src="/static/settings.js"></script>
        <script type="text/javascript" src="/static/imageUploader.js"></script>
        <script type="text/javascript" src="/static/fileSystem.js"></script>
        <script type="text/javascript" src="/static/utils.js"></script>
        <script type="text/javascript" src="/static/dialogs.js"></script>
        <script type="text/javascript" src="/static/overlay.js"></script>
    </head>
    <body>
        <main>
            <h2>PI Photo Album</h1>
            <h3>Slideshow Settings</h3>
            <form id="slideshow-settings" onsubmit="handleSettingsSubmit(event)">
                <div class="input-label">Album</div>
                <select name="album">
                    <option value="" disabled>-- Select an Album --</option>
                </select>

                <div class="input-label">Enable</div>
                <div class="input-container">
                    <span class="input-before">Off</span>
                    <input type="range" class="settings-input" name="isEnabled" min="0" max="1" />
                    <span class="input-after">On</span>
                </div>

                <div class="input-label">Blend (ms)</div>
                <div class="current-value">[Current: <span id="blend-current-value"></span>]</div>
                <div class="input-container">
                    <span class="input-before">0</span>
                    <input
                        type="range"
                        class="settings-input"
                        name="blend"
                        id="blend"
                        min="0"
                        max="1000"
                        step="25"
                    />
                    <span class="input-after">1000</span>
                </div>

                <div class="input-label">Speed (sec)</div>
                <div class="current-value">[Current: <span id="speed-current-value"></span>]</div>
                <div class="input-container">
                    <span class="input-before">5</span>
                    <input
                        type="range"
                        class="settings-input"
                        name="speed"
                        id="speed"
                        min="5"
                        max="600"
                        step="5"
                    />
                    <span class="input-after">600</span>
                </div>

                <div class="input-label">Randomize</div>
                <input type="checkbox" name="randomize" />
                <div class="input-container"></div>

                <button type="button" onclick="shuffleSlideshow()">Shuffle</button>

                <button type="button" onclick="handleResetToDefault()">Reset to default</button>
                <button type="submit">Save</button>
            </form>

            <hr />

            <h3>Upload Images</h3>
            <form onsubmit="handleImagesUpload(event)">

                <button type="button" id="image-upload-btn">Select Images From Device</button>

                <input
                    type="file"
                    id="image-upload-input-hidden"
                    multiple
                    onchange="handleFileUploadChange(event)"
                    accept=".jpg,.jpeg,.png,.webp,.heif,.heic"
                />

                <button type="submit" id="upload-submit-btn">Upload</button>

                <ul id="image-staging-list"></ul>
            </form>

            <hr />

            <h3>File System</h3> 
            <!-- TODO (if needed in the future): manual resync -->
            <!-- <button>Manual Resync</button> --> 
            <button onClick="showCreateFolderDialog()">Create Album</button>
            <button onClick="toggleFileSelection()">Select</button>
            <!-- subcase of move -->
            <button class="file-system-tools" id="file-system-tools-rename" onClick="showRenameFileDialog()">Rename</button> 
            <button class="file-system-tools" id="file-system-tools-copy" onClick="showCopyFilesDialog()">Copy</button>
            <button class="file-system-tools" id="file-system-tools-move" onClick="showMoveFilesDialog()">Move</button>
            <button class="file-system-tools" id="file-system-tools-delete" onClick="handleDeleteFiles()">Delete</button>
            <ul data-fs-tree-="" class="file-system"> </ul> <!-- the trailing '-' is intentional -->
        </main>

        <dialog id="create-folder-dialog">
            <form onsubmit="handleCreateFolder(event)">
                <p>New Album:</p>
                <select name="folderPath">
                    <option value="" disabled>-- Select an Album --</option>
                </select>
                <input type="text" name="folderName" placeholder="My Album"/>
                <div>
                    <button onclick="hideCreateFolderDialog()" type="button">Cancel</button>
                    <button type="submit">Confirm</button>
                </div>
            </form>
        </dialog>

        <dialog id="copy-files-dialog">
            <form onsubmit="handleCopyFiles(event)">
                <p>Copy to:</p>
                <select name="folderPath">
                    <option value="" disabled>-- Select an Album --</option>
                </select>
                <div>
                    <button type="button" onclick="hideCopyFilesDialog()">Cancel</button>
                    <button type="submit">Confirm</button>
                </div>
            </form>
        </dialog>

        <dialog id="move-files-dialog">
            <form onsubmit="handleMoveFiles(event)">
                <p>Move to:</p>
                <select name="folderPath">
                    <option value="" disabled>-- Select an Album --</option>
                </select>
                <div>
                    <button type="button" onclick="hideMoveFilesDialog()">Cancel</button>
                    <button type="submit">Confirm</button>
                </div>
            </form>
        </dialog>
        
        <dialog id="rename-file-dialog">
            <form onsubmit="handleRenameFile(event)">
                <p>Rename:</p>
                <input type="text" name="newName" placeholder="New Name"/>
                <div>
                    <button type="button" onclick="hideRenameFileDialog()">Cancel</button>
                    <button type="submit">Confirm</button>
                </div>
            </form>
        </dialog>

        <dialog id="preview-image-dialog">
            <div>
                <img />
                <button type="button" onclick="hidePreviewImageDialog()">Close</button>
            </div>
        </dialog>

        <div class="overlay"></div>
        <div class="loading">
            <div class="loading-spinner"></div>
            <div class="loading-caption">Loading...</div>
        </div>
    </body>
</html>
