<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PI Photo Album</title>

        <link rel="stylesheet" href="/static/index.css" />

        <script>
            // These are coming from Flask.
            const savedSettings = {{ settings|tojson }};
            const fileStructureSnapshot = {{ fileStructure|tojson }};
        </script>
        <script type="text/javascript" src="/static/index.js"></script>
        <script type="text/javascript" src="/static/settings.js"></script>
        <script type="text/javascript" src="/static/imageUploader.js"></script>
        <script type="text/javascript" src="/static/fileSystem.js"></script>
        <script type="text/javascript" src="/static/utils.js"></script>
    </head>
    <body>
        <main>
            <h2>PI Photo Album</h1>
            <h3>Slideshow Settings</h3>
            <form id="slideshow-settings" onsubmit="handleSettingsSubmit(event)">
                <div class="input-label">Album</div>
                <select name="album">
                    <option value="" disabled>-- Select an Album --</option>
                </select>

                <div class="input-label">Enable</div>
                <div class="input-container">
                    <span class="input-before">Off</span>
                    <input type="range" class="settings-input" name="isEnabled" min="0" max="1" />
                    <span class="input-after">On</span>
                </div>

                <div class="input-label">Blend (ms)</div>
                <div class="current-value">[Current: <span id="blend-current-value"></span>]</div>
                <div class="input-container">
                    <span class="input-before">0</span>
                    <input
                        type="range"
                        class="settings-input"
                        name="blend"
                        id="blend"
                        min="0"
                        max="1000"
                        step="25"
                    />
                    <span class="input-after">1000</span>
                </div>

                <div class="input-label">Speed (sec)</div>
                <div class="current-value">[Current: <span id="speed-current-value"></span>]</div>
                <div class="input-container">
                    <span class="input-before">5</span>
                    <input
                        type="range"
                        class="settings-input"
                        name="speed"
                        id="speed"
                        min="5"
                        max="600"
                        step="5"
                    />
                    <span class="input-after">600</span>
                </div>

                <div class="input-label">Randomize</div>
                <input type="checkbox" name="randomize" />
                <div class="input-container"></div>

                <button type="button" onclick="handleResetToDefault()">Reset to default</button>
                <button type="submit">Save</button>
            </form>

            <hr />

            <h3>Upload Images</h3>
            <form onsubmit="handleImagesUpload(event)">

                <button type="button" id="image-upload-btn">Select Images From Device</button>

                <input
                    type="file"
                    id="image-upload-input-hidden"
                    multiple
                    onchange="handleFileUploadChange(event)"
                    accept=".jpg,.jpeg,.png,.webp,.heif,.heic"
                />

                <button type="submit">Upload</button>

                <ul id="image-staging-list"></ul>
            </form>

            <hr />

            <h3>File System</h3>
            <ul id="file-system-tree"> </ul>
        </main>
    </body>
</html>
